* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 223, 223);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 300px;
    flex-direction: column;
}

.cabecalho-titulo {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
}

.formulario {
    margin-top: 30px;
}

.formulario-tarefa {
    background-color: #fff;
    padding: 7px;
}

.formulario-botao {
    padding: 7px;
    background-color: #258625;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.formulario-botao:hover {
    background-color: #105f10;
}

.lista-tarefas {
    font-family: Roboto, sans-serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 50px;
}